<!-- <ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding_content">

  <ion-card>
      

      <ion-row>
          <ion-col>
              <h6 >
                  Welcome to<br> Biometric Authentication
              </h6>
          </ion-col>
      </ion-row>

      <ion-list>
          <ion-card>
              <ion-item lines="none" class="input_border">
                  <ion-input type="text" (ionFocus)="changeInputBorder(true)" (ionBlur)="changeInputBorder(false)" [(ngModel)]="username" placeholder="email" name="username">
                  </ion-input>
                  <ion-icon slot="start" [class.changeIconColor]="inputSelected" name="person"></ion-icon>
              </ion-item>
          </ion-card>
          <ion-card>
              <ion-item  lines="none" class="input_border">
                  <ion-input (ionFocus)="changePassBorder(true)" (ionBlur)="changePassBorder(false)" [type]="showpassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="Password" [name]="passwordtoggle">
                  </ion-input>
                  <ion-icon slot="start" [class.changeIconColor]="passSelected" name="lock-closed"></ion-icon>
                  <ion-icon slot="end" name="{{passIconType}}" (click)="togglePassword()"></ion-icon>
              </ion-item>
          </ion-card>
      </ion-list>

      <!-- <ion-row style="justify-content: flex-end; font-weight: bold; padding-top: 5%;">
          <ion-col style="padding-right: 10px;">
              <h6 (click)="forgetpassword()" style="text-align: center; font: size 25px;">
                  Forgot Password?
              </h6>
          </ion-col>

      </ion-row> -->

      <!-- <ion-row class="login_button_row">
          <ion-col size-6 (click)="loginAction()">
              <h5 style="font-size: xx-large; padding-left: 10px; color: #21a8d9;">Login</h5>
          </ion-col>
          <ion-col size-6 style="padding-left: 120px;">
              <button class="login_btn" (click)="loginAction()">
                  <ion-icon name="log-in-outline" style="font-size: xx-large; color: white;"></ion-icon>
              </button>
          </ion-col>
      </ion-row> -->
      <!-- <ion-button mode="ios"  expand="block" (click)="loginAction()">Login</ion-button>

      <ion-button mode="ios"expand="block" (click)="showFingerprintAuthDlg()">Login with Fingerprint</ion-button>
       -->
       <ion-row class="labeloption">
        <ion-col>
            <h5>You can login with these options,<br>the choice is yours</h5>
        </ion-col>
        
       </ion-row>
       
      <ion-row class="logoptionrow">
        <ion-col size-4>
            <button class="login_btn" (click)="loginAction()"> 
                <ion-icon name="keypad-outline" style="font-size: xx-large; color: white;"></ion-icon>
            </button><br>
            Password
        </ion-col>
        <ion-col size-4 >
            <button class="login_btn" (click)="showFingerprintAuthDlg()">
                <ion-icon name="finger-print-sharp" style="font-size: xx-large; color: white;"></ion-icon>
            </button>
            <br>
            Fingerprint
        </ion-col>
        
        <ion-col size-4 >
            <button class="login_btn" (click)="logWithFaceid()">
                <ion-icon name="scan-outline" style="font-size: xx-large; color: white;"></ion-icon>
            </button>
            <br>
            Faceid
        </ion-col>
      </ion-row>
      <!-- <ion-button mode="ios " style="font-size: 1.2rem; margin-top: 20px; " expand="block " color="success " (click)="Registration() ">Create New Account</ion-button> -->

      <ion-row class="sifnuprow" (click)="signUp()">
        <ion-col >
            Don't have an account? <span style="color: #21a8d9; font-weight: bolder ;">Sign Up</span> 
        </ion-col>
        
      </ion-row>      
  </ion-card>
  
</ion-content>